numpy
pandas
scipy
scikit-learn
matplotlib

numba
dask
pybind11

# for JetBrains IDE syntax highlighting
# cf. https://github.com/opencv/opencv/issues/20997#issuecomment-1176523621
opencv-python==4.5.5.62
opencv-contrib-python
open3d
trimesh

tensorboard
# for tensorboard
protobuf~=3.20
